/* Write your code here: */

/* select multiple elements */
h1, h2 {
    color: blueviolet;
}

/* select direct descendent element */

.box > p {
    color: firebrick;
}

/* select any descendent element */
.box li{
    color: blue;
}

/* chaining selectors (select list item with class of done) */
li.done{
    color: seagreen;
}